@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dropzone/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/tiptap/styles.css";
@import "@mantine/nprogress/styles.css";

@tailwind components;
@tailwind utilities;

@layer tailwind {
  @tailwind base;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .theme-text {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  .theme-text-subtle {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  }
  .theme-divide > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: light-dark(
      var(--mantine-color-gray-4),
      var(--mantine-color-gray-7)
    );
  }
}
